  <% if (!playlist || !playlist.length) { %>

    <p class="padding-10 small text-center well subtle">
      <strong>Tip:</strong><br />
      To add files from your disk simply drag them onto the&nbsp;player&nbsp;window.
    </p>

  <% } else { %>

    <% var index = 0; %>

    <% _.each(playlist, function(i) { %>
      <% var classname = i.active ? 'active' : ''; %>

      <li id="<%- i.id %>"
        class="<%- classname %>"
        data-index="<%- index %>"
        ondblclick="RS.Playback.loadByIndex(<%- index %>);"
        oncontextmenu="RS.showContextMenu(this)">
        <span class="delete pull-right" onclick="RS.Playlist.deleteByIndex(<%- index %>)"> <i class="fa fa-fw fa-trash-o"></i> </span>
        <span class="title"><%- RS.Playlist.getDisplayTitle(i) %></span>
        <span class="url"><%- i.url %></span>
      </li>
      <% index++; %>

    <% }); %>

  <% } %>

<script>
$(document).ready(function () {
  $('#nowplaying-playlist').sortable({
    axis: 'y',
    placeholder: 'placeholder',
    forcePlaceholderSize: true,
    revert: 150,
    stop: function(event, ui) {
      var newOrder = RS.Playlist.readPlaylistOrderFromUI();
      RS.Playlist.saveSort(newOrder);
    }
  });
})
</script>
