<div class="rsPlayerControlsGroup padding-10">
  <div id="rsPlayerCurrent">

    <span id="currentArtist"></span>

    <div class="pull-right" id="timeContainer">
      <span class="timeElapsed">00:00</span><span class="timeSeparator">/</span><span class="timeTotal">00:00</span>
    </div>
    <span id="currentTitle"></span>
  </div>

  <div id="waveform"></div>

  <div id="rsPlayerControls">
    <div style="width:70px; float: left; text-align: left; padding-top: 4px">
      <a class="playerCtl" data-toggle="playlist"><span class="fa fa-fw fa-bars"></span></a>
      <a class="playerCtl" data-toggle="repeat"><span class="fa fa-fw fa-repeat"></span></a>
      <a class="playerCtl" data-toggle="shuffle"><span class="fa fa-fw fa-random"></span></a>
    </div>

    <div style="width:70px; float: right; text-align: right">
      <input type="range" min="0" max="100" value="100" oninput="RS.Playback.setVolume(this)" id="rsPlayerVolume"
      style=" margin-top:5px" title="Volume" tabindex="-1"  onfocus="this.blur();">
    </div>


    <a class="playerCtl big active" onclick="RS.Playback.prev()"><span class="fa fa-fw fa-step-backward" title="Previous"></span></a>
    <a class="playerCtl big active" id="WSPlay"><span class="fa fa-fw fa-play" title="Play"></span></a>
    <a class="playerCtl big active" onclick="RS.Playback.next()"><span class="fa fa-fw fa-step-forward" title="Next"></span></a>
  </div>

</div>
