<label class="settings-item">
  <span class="pull-right">
    <select name="ui.theme" onchange="RS.UI.handlePreferencesInputChange(this)">
      <option value="light">Light</option>
      <option value="dark">Dark</option>
    </select>
  </span>
  <strong>Theme</strong>
</label>

<label class="settings-item">
  <span class="pull-right">
    <input type="checkbox" value="ui.showFullPath" onchange="RS.UI.handlePreferencesCheckboxChange(this)" />
  </span>
  <strong>Show full path in playlist</strong>
</label>

<label class="settings-item">
  <span class="pull-right">
    <!-- <a href="file://$$TMPDIR" class="btn btn-xs btn-default">Open tmp folder</a> -->
    <a href="file://$$USERDATA" class="btn btn-xs btn-default">Open app data folder</a>
  </span>
  <strong>Data storage</strong>
</label>

<br /><br />
