<script>
var Nav = require('../renderer/nav');
</script>

<partial>
    <div class="pull-left text-left">
      <a onclick="Nav.goto('nowplaying')"><span class="fa fa-fw fa-list-ol"></span></a>
      <a onclick="Nav.goto('preferences')"><span class="fa fa-fw fa-cogs"></span></a>
      <a onclick="Nav.goto('help')"><span class="fa fa-fw fa-question"></span></a>
      <!-- <a onclick="Nav.goto('status')"><span class="fa fa-fw fa-home"></span></a> -->
    </div>

    <div class="pull-right text-right">
      <a onclick="alert('Repeat switch not implemented yet.'); return false;"><span class="fa fa-fw fa-repeat"></span></a>
      <a onclick="alert('Shuffle switch not implemented yet.'); return false;"><span class="fa fa-fw fa-random"></span></a>
    </div>
</partial>
