<script>
var Renderer = require('../renderer');
// var Player = require('../player');
var Player = {}
</script>

<partial>
  <div class="row titlebar">
    <div class="col-xs-4">
      <span class="windowControl btnClose" onclick="Renderer.windowCloseFn()"></span>
      <span class="windowControl btnMinimize" onclick="Renderer.windowMinimizeFn()"></span>
      <span class="windowControl btnMaximize" onclick="Renderer.windowMaximizeFn()"></span>
    </div>
    <div class="col-xs-4 text-center">
      <h1>RemoteStack</h1>
    </div>
    <div class="col-xs-4 text-right">
      <span class="windowControl btnSpecial" onclick="Renderer.openSettingsWindowFn()"></span>
    </div>
  </div>


  <div class="row toolbar">
    <div class="col-xs-6">
      <div class="btn-group">
        <a class="btn btn-default" onclick="Player.prev()"><span class="fa fa-fw fa-step-backward" title="Go to main menu"></span></a>
        <a class="btn btn-default" onclick="Player.play()"><span class="fa fa-fw fa-play" title="Go to main menu"></span></a>
        <a class="btn btn-default" onclick="Player.pause()"><span class="fa fa-fw fa-stop" title="Library"></span></a>
        <a class="btn btn-default" onclick="Player.next()"><span class="fa fa-fw fa-step-forward" title="Go to main menu"></span></a>
      </div>
    </div>

    <div class="col-xs-6 text-right">
      <div class="btn-group">
        <a href="#" class="btn btn-default btnHideSidebar hidden-xs"><span class="fa fa-fw fa-outdent" title="Show/hide sidebar"></span></a>
      </div>

      <div class="btn-group">
        <!-- <a class="btn btn-default" href="#" data-toggle="modal" data-target="#addToLibraryModal"><span class="fa fa-fw fa-bookmark" title="Add (batch)"></span></a> -->
        <a class="btn btn-default" onclick="Renderer.ipc.showPlayer()"><span class="fa fa-fw fa-play"></span></a>
        <a class="btn btn-default" onclick="Renderer.ipc.showSettings()"><span class="fa fa-fw fa-cogs"></span></a>
      </div>

  </div>
</partial>
