<div id="windowCtlContainer">
    <div id="windowCtl">
      <span class="ctl" data-toggle="window-app-quit">
        <i class="generic fa fa-times fa-fw"></i>
        <i class="mac btnClose"></i>
      </span>

      <span class="ctl" data-toggle="window-minimise">
        <i class="generic fa fa-minus fa-fw"></i>
        <i class="mac btnMinimize"></i>
      </span>

      <span class="ctl" data-toggle="window-maximise">
        <i class="generic fa fa-plus fa-fw"></i>
        <i class="mac btnMaximize"></i>
      </span>
    </div>
</div>
