<link rel="stylesheet" href="../assets/css/sidebar.css">

<script>
var Nav = require('../renderer/nav');
var UI = require('../renderer/ui');

$(document).ready(function () {
  Nav.init();
  setTimeout(UI.applySidebarSetting, 450);
  UI.bindShortcuts();
});
</script>


<partial>
  <div id="rsSidebar">
    <div class="sidebar-heading">Streams</div>
    <ul class="nav nav-pills nav-stacked">
      <li class="active"><a href="#" data-nav-goto="nowplaying">Default</a></li>
      <li><a href="#" data-nav-goto="streams"><small>(all streams)</small></a></li>
    </ul>

    <div class="sidebar-heading">Collections</div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#" data-nav-goto="library">Collections</a></li>
      <li><a href="#" data-nav-goto="playlist">Playlist</a></li>
      <li><a href="#" data-nav-goto="openurl">Lookup</a></li>
    </ul>

    <div class="sidebar-heading">About</div>
    <ul class="nav nav-pills nav-stacked">
      <li><a href="#" data-nav-goto="preferences">Preferences</a></li>
      <li><a href="#" data-nav-goto="help">Help</a></li>
    </ul>
  </div>
</partial>
