<link rel="stylesheet" href="../assets/css/sidebar.css">

<script>
var Nav = require('../renderer/nav');
var UI = require('../renderer/ui');

$(document).ready(function () {
  Nav.init();
  setTimeout(UI.applySidebarSetting, 450);
  UI.bindShortcuts();
});
</script>


<partial>
  <div class="sidebar-heading">Streams</div>
  <ul class="nav nav-pills nav-stacked">
    <li class="active"><a href="#" onclick="Nav.goto('nowplaying')">Default</a></li>
    <li><a href="#" onclick="Nav.goto('streams')"><small>(all streams)</small></a></li>
  </ul>

  <div class="sidebar-heading">Collections</div>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#" onclick="Nav.goto('library')">Collections</a></li>
    <li><a href="#" onclick="Nav.goto('playlist')">Playlist</a></li>
    <li><a href="#" onclick="Nav.goto('openurl')">Lookup</a></li>
  </ul>

  <div class="sidebar-heading">About</div>
  <ul class="nav nav-pills nav-stacked">
    <li><a href="#" onclick="Nav.goto('preferences')">Preferences</a></li>
    <li><a href="#" onclick="Nav.goto('help')">Help</a></li>
  </ul>

</partial>
