/* Defaults */
html, body, .wrap, .containerBody, .mainContent {height: 100%}
body {background: transparent; font-size: 12px}
* {cursor: default}
table.table {font-size: 1em}

.padding-5 {padding:5px}
.padding-10 {padding:10px}
.padding-0-10 {padding:0 10px}

input.urlviewer {width: 100%; background: none; border: none}

.well {background-color: rgba(66, 66, 66, 0.85); border: 1px solid rgba(0, 0, 0, 0.3)}
.well a {color: white}

.wrap {padding: 0; margin: 0}
.entry-url {display: block; font-size: 0.8em; font-weight: bold}

/* List group */
.list-group-item {background-color: transparent; border: none; color: #555}
.list-group-item a {color: #222; text-decoration: none; display: block; padding: 15px; margin: -10px -15px}
.list-group-item.disabled a {color: #888}
.list-group-item a:hover {color: #111}

.list-group {box-shadow: inset 0px 1px 1px #ccc; background-color: #e4e4e4; border-radius: 4px}
.list-group-item:hover {background: rgba(255,255,255,0.3)}


/* Listing */
ul.list, ul.list li {list-style: none; margin:0; padding: 0}
ul.list li {list-style: none; background:#fff; padding: 3px 8px}
ul.list li:nth-child(2n) {background:#f5f5f5}
/*ul.list li:last-child {margin-bottom:20px; }*/

ul.list li.group-name {color: black; background: #ccc; font-weight: bold}

ul.list li .primary {color: black; text-decoration: none}

/* Navigation: Active screen */
.navContent {display: none; height: 100%}
.navContent.active {display: block}


.navContent {overflow: hidden; overflow-y: auto}
.navContent#nowplaying {overflow-y: hidden}

/* Navigation */
/*.nav>li>a:focus, .nav>li>a:hover {background-color: #E7E7E7; color: #169bb9;}*/

.containerBody {padding: 0 10px; position: fixed; top:0; bottom: 0; width: 100%; overflow: hidden; -webkit-user-select: none}
.containerBody {background: transparent}
.containerBody ul.list {margin: 0 -10px}



/* Backgrounds */
#wContainer {background: url('../img/rapciu_pearl.png'); background-size: cover}
/*#wContainer {background: url('http://edmullen.net/test/rc.jpg'); background-size: cover}*/

/*.navContent {background: rgba(50, 50, 50, 0.3)}*/
.navContent {background: rgba(100, 40, 80, 0.4)}

/* Sidebar */
.sidebar {width:140px;position:fixed;left:-140px}
.mainContent {position:fixed;left:0;right:0}

/* Add footer */
.wrap .containerBody {bottom: 20px; width: 100%}
.wrap .containerFooter {position: fixed; bottom: 0; height:20px; width: 100%; padding: 0 5px; background: #D5D5D5; border-top: 1px solid #b6b4b6;}



/* NEW WINDOW CONCEPT */
body {/*-webkit-app-region: drag;*/ -webkit-user-select: none; cursor: default}


/*
 * COMMON STYLING
 */
h1, h2, h3, h4, h5 {font-weight: 300; margin: 0; text-decoration: none}
h1 {font-weight: 100}
h2 {font-size: 22px}
h1 > * {font-weight: inherit !important}
h1 strong {font-weight: 300 !important}
h2 strong, h3 strong, h4 strong, h5 strong {font-weight: 400}

label {font-weight: 400}

a {text-decoration: none; color: #23527C}
a:hover {color: #153C5D}
a, a:hover, a:focus {text-decoration: none; outline: none}

hr {margin: 5px 0}


@media screen and (max-height: 125px) {
  .wrap .containerFooter {bottom: -20px}
}

@media screen and (max-height: 130px) {
  #rsPlayerBrowser {visibility: hidden}
}


#wContainer .list .url {display:none}
#wContainer.showFullPath .list .url {display:block}


/*
 * LIGHT THEME
 */


#wContainer.light .bg.cloudy {background: linear-gradient(to bottom, rgba(239, 239, 239, 0.7) 0%, rgba(239, 239, 239, 0.23) 100%); color: black}
#wContainer.light .bg.solid {background: linear-gradient(to bottom, #fafafa 0px, #dadada 120px); color: black}
#wContainer.light h1, #wContainer.light h2, #wContainer.light h3 {color: #3E3D3D; /*text-shadow: 0px 1px 1px #cecece;*/}
#wContainer.light hr {border-top-color: #bbb}

/*#wContainer.light .bg h2 {background: linear-gradient(to bottom, #EFEFEF 0%, #D5D5D5 100%)}*/
#wContainer.light .containerFooter a {color: #4c4c4c}
#wContainer.light .containerFooter a span.fa-active{color: #d22}

#wContainer.light .bg ul.list li {background: #f3f0f0; color: black}
#wContainer.light .bg ul.list li:nth-child(2n) {background: #e8e7e7}




/*
 * DARK THEME
 */

#wContainer.dark .bg.cloudy {background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.55) 100%); color: #EFEFEF}
#wContainer.dark .bg.solid {background: linear-gradient(to bottom, #404040 0px, #101010 120px); color: #EFEFEF}
/*#wContainer.dark .bg h2 {background: linear-gradient(to bottom, #444 0%, #111 100%); color: #EFEFEF; text-shadow: none}*/
#wContainer.dark .bg ul.list li {background: #222; color: #eee}
#wContainer.dark .bg ul.list li:nth-child(2n) {background: #2e2e2e}
#wContainer.dark a {color: #cedef3}
#wContainer.dark hr {#wContainer.light hr {border-top-color: #bbb}}


#wContainer.dark .containerFooter {background: #1f1f1f; border-top-color: #333;}
#wContainer.dark .containerFooter a {color: #4c4c4c}
#wContainer.dark .containerFooter a span.fa-active{color: #d22}
#wContainer.dark .btn-default {background-color: #222; color: #efefef;}
