/* Add footer */
.wrap .containerBody {bottom: 20px; width: 100%}
.wrap .containerFooter {position: fixed; bottom: 0; height:20px; width: 100%; padding: 0 5px; background: #D5D5D5; border-top: 1px solid #b6b4b6;}
.wrap .containerFooter a {color: #4c4c4c}
.wrap .containerFooter a span.fa-active{color: #d22}


.navContent#home {padding-top: 30px}
.navContent#home h1 {font-weight: 100; color: white; text-shadow: 0 1px 1px black}

/*.mainContent {background: #333}*/

.homeMenu {width: 200px; text-align: center; display: inline-block; margin-top: 30px}
.homeMenu a {border: 1px solid #555; color: white; display: block; padding: 10px; border-radius: 5px; margin-bottom: 3px}


.homeMenu a {background: rgba(42, 42, 42, 0.65); color: #ddd;}
.homeMenu a:focus, .homeMenu a:hover {background: rgba(7, 94, 144, 0.6); color: #cacaca;}
