.sidebar {padding: 0; margin: 0; border-right: 1px solid #A7A7A7; opacity: 0}
.sidebar .nav-pills>li {margin-top: 0; font-size: 0.95em}
.sidebar .nav-pills>li>a {border-radius: 0; padding: 4px 15px; color: #333; cursor: default}
.sidebar .nav-pills>li.active>a {color: #fff}
.sidebar .nav-pills.indent1x>li>a {padding-left: 22px}

.sidebar .sidebar-heading {padding: 5px; text-transform: uppercase; font-size: 0.9em; font-weight: 500; color: #555; cursor: default}

.sidebar .nav-pills>li>a{text-overflow: ellipsis; overflow: hidden}
