.sidebar {padding: 0; margin: 0; opacity: 0}
.sidebar .nav-pills>li {margin-top: 0; font-size: 0.95em}
.sidebar .nav-pills>li>a {border-radius: 0; padding: 4px 15px; color: #333; cursor: default}
/*.sidebar .nav-pills>li.active>a {color: #fff}*/
.sidebar .nav-pills.indent1x>li>a {padding-left: 22px}

.sidebar .sidebar-heading {padding: 5px; text-transform: uppercase; font-size: 0.9em; font-weight: 500; color: #555; cursor: default}

.sidebar .nav-pills>li>a{text-overflow: ellipsis; overflow: hidden}



.sidebar {background: rgba(255, 255, 255, 0.5); border-right: 1px solid #A7A7A7;}
.nav>li>a:focus, .nav>li>a:hover {background: #eee}
.nav-pills>li.active>a, .nav-pills>li.active>a:focus, .nav-pills>li.active>a:hover {color: #fff;background: #3e709a;}

#wContainer.dark .sidebar {background: rgba(0,0,0,0.8); border-right-color: #222}
#wContainer.dark .sidebar .nav-pills>li>a {color: #DDD}
/*#wContainer.dark .sidebar .nav-pills>li.active>a {color: #fff}*/
#wContainer.dark .sidebar .sidebar-heading {color: #AAA}

#wContainer.dark .nav>li>a:focus, #wContainer.dark .nav>li>a:hover {background: #444}
#wContainer.dark .nav-pills>li.active>a, #wContainer.dark .nav-pills>li.active>a:focus, #wContainer.dark .nav-pills>li.active>a:hover {color: #fff;background: #224863;}
