/* Window controls */

.windowCtls {
  position: fixed; top: 8px; left: 8px;
}

.navigationCtls {
  position: fixed; top: 8px; right: 8px;
}
.navigationCtls .fa {
  color: white
}

.navContent {padding-top: 17px;}

.playbackCtls {margin: 10px 10px 0 0; float: right}

.windowCtls .fa, .navigationCtls .fa, .playbackCtls .fa {color:#5A5A5A; margin-right: -3px}
.windowCtls .fa-minus {top: 2px; position: relative;}

/* Mac style */
.windowCtl {display: inline-block; width: 12px; height:12px; margin-right: 5px; border-radius: 10px; border: 1px solid #ccc; -webkit-app-region: no-drag}
.windowCtl.btnClose {background: #ff3b47; border-color: #f0121d}
.windowCtl.btnMinimize {background: #ffbf00; border-color: #e69e12}
.windowCtl.btnMaximize {background: #00d742; border-color: #12b728}
.windowCtl.btnClose:active {background: #c5343c; border-color: #9a242c}
.windowCtl.btnMinimize:active {background: #c39109; border-color: #a68028}
.windowCtl.btnMaximize:active {background: #129b36; border-color: #2e7c42}

/*.windowCtl.btnSpecial {background: #007ed7; border-color: #0c4aa9; xdisplay: none}
.windowCtl.btnSpecial:active {background: #066bb3}*/

/*.titlebar {margin-bottom: 1px}
.toolbar .fa.fa-fw {margin: 0 -7px}
.titlebar .btn, .toolbar .btn {padding: 1px 14px; -webkit-app-region: no-drag}*/

/*.containerBody {top:55px; bottom: 0}*/
