<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Add</title>
</head>
<body>

  <div class="container-fluid">

    <br />

    <div class="row">
      <div class="col-xs-9">
        <textarea placeholder="URLs" id="urlinput"></textarea>

        <p class="small text-center subtle">
          Many online services are supported.<br />
          You can add more than one URL.<br />
          To add a new line press <code>Shift</code> + <code>Enter</code>.
        </p>
      </div>
      <div class="col-xs-3">
        <p class="text-center">
          <button type="button" id="urlAddBtn" class="btn btn-md btn-primary" data-toggle="addurl" data-addurl-input="urlinput">Add</button>
        </p>
      </div>
    </div>

  </div>

  <assets style="display: none">
    <link rel="icon" type="image/png" href="icons/player-256.png">
    <link rel="apple-touch-icon" href="icons/player-256.png">
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/themes.css">
    <script>window.$ = window.jQuery = require('./vendor/js/jquery-2.2.4.min.js');</script>

    <!-- specific to window -->
    <script src="js/app.js"></script>
    <script src="js/add.js"></script>
  </assets>

</body>
</html>
