<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>Help</title>
</head>
<body>

<div class="container-fluid">
  <div class="text-center" style="padding: 15px 0 25px">
    <h1><strong>RemoteStack</strong> Player</h1>
    <small class="subtle">(<partial data-view="app-version"></partial>)</small>

    <div id="updateNotice"></div>
  </div>

  <h2>Feedback? Issues?</h2><br />

  <p>If you encounter any problems please <a href="https://github.com/vot/remotestack-player/issues">create an issue on GitHub</a>.</p>

  <br /><br />

  <h2>Keyboard shortcuts: Playback control</h2><br />

  <table class="spaced">
    <tr>
      <th width="120"><code>Space</code></th>
      <td>Play/Pause</td>
    </tr>
    <tr>
      <th><code>&darr;</code></th>
      <td>Decrease volume</td>
    </tr>
    <tr>
      <th><code>&uarr;</code></th>
      <td>Decrease volume</td>
    </tr>
    <tr>
      <th><code>&larr;</code></th>
      <td>Move backward by 5 seconds</td>
    </tr>
    <tr>
      <th><code>&rarr;</code></th>
      <td>Move forward by 5 seconds</td>
    </tr>
    <tr>
      <th><code>Cmd/Ctrl</code> + <code>&larr;</code></th>
      <td>Previous track</td>
    </tr>
    <tr>
      <th><code>Cmd/Ctrl</code> + <code>&rarr;</code></th>
      <td>Next track</td>
    </tr>
  </table>

  <br /><br />

  <h2>Keyboard shortcuts: Interface</h2><br />

  <table class="spaced">
    <tr>
      <th width="120"><code>P</code></th>
      <td>Show/hide playlist</td>
    </tr>
    <tr>
      <th><code>R</code></th>
      <td>Repeat playlist</td>
    </tr>
    <tr>
      <th><code>S</code></th>
      <td>Shuffle playlist</td>
    </tr>
  </table>


  <br /><br />

  <h2>Controls</h2>

  <p>Mouse scroll and clicks in waveform area can be used to navigate the current track's progress.
    Mouse scroll handler is also registered on volume control.</p>

  <p>You can start with adding a track to an empty playlist.
    Just drag a file from your hard drive and drop it in the playlist area.</p>

  <p>In addition to that you can also add various online links to play them.
    You can simply add a link to a video on YouTube or a track on Soundcloud
    by pasting the link directly into the player.</p>

  <br /><br /><br />
</div>

  <assets style="display: none">
    <link rel="icon" type="image/png" href="icons/player-256.png">
    <link rel="apple-touch-icon" href="icons/player-256.png">
    <link rel="stylesheet" href="vendor/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/base.css">
    <link rel="stylesheet" href="css/themes.css">
    <script>window.$ = window.jQuery = require('./vendor/js/jquery-2.2.4.min.js');</script>

    <!-- specific to window -->
    <script src="js/app.js"></script>
    <script src="js/help.js"></script>
  </assets>

</body>
</html>
