<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RemoteStack</title>
</head>
<body>

  <assets style="display: none">
    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/font-awesome.min.css">
    <link rel="stylesheet" href="assets/css/base.css">
    <link rel="stylesheet" href="assets/css/streams.css">

    <script>window.$ = window.jQuery = require('./assets/js/jquery-2.2.4.min.js');</script>
    <script src="assets/js/bootstrap.min.js"></script>
    <script src="assets/js/app.js"></script>

    <link rel="icon" type="image/png" href="assets/rs.png">
    <link rel="apple-touch-icon" href="assets/rs.png">

    <!-- <link rel="import" class="partial" href="partials/wHeader.html"> -->
    <link rel="import" class="partial" href="partials/wSidebar.html">
    <!-- <link rel="import" class="partial" href="partials/wFooter.html"> -->

    <link rel="import" class="template" href="templates/streams.html">
    <link rel="import" class="template" href="templates/playlist.html">
    <link rel="import" class="template" href="templates/library.html">
    <link rel="import" class="template" href="templates/nowplaying.html">
    <link rel="import" class="template" href="templates/openurl.html">
    <link rel="import" class="template" href="templates/preferences.html">
    <link rel="import" class="template" href="templates/help.html">
  </assets>

  <!-- window header -->
  <div id="wContainer" class="wrap">

    <!-- <div id="wHeader" class="containerHeader"></div> -->

    <div class="containerBody">
        <div class="sidebar" id="wSidebar"></div>
        <div class="mainContent" id="wBody"></div>
    </div>

    <!-- <div id="wFooter" class="containerFooter"></div> -->

  </div>

  <script>
    require('../renderer/imports')
    // require('./assets/ex-links')
    // require('./assets/nav')
    // require('./assets/demo-btns')
    // require('./assets/code-blocks')
    // require('./assets/normalize-shortcuts')


    // var Renderer = require('../renderer');
    var Player = require('../renderer/player');
    $(document).ready(function () {
      // Renderer.bindShortcuts();
      Player.bindShortcuts();
    });
  </script>
</body>
</html>
