<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>RemoteStack mini player</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/base.css">
  <link rel="stylesheet" href="assets/css/player.css">
  <!-- <link rel="stylesheet" href="assets/css/windowCtl.css"> -->

  <script>window.$ = window.jQuery = require('./assets/js/jquery-2.2.4.min.js');</script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>

  <link rel="icon" type="image/png" href="assets/rs.png">
  <link rel="apple-touch-icon" href="assets/rs.png">

  <!-- <link rel="import" class="partial" href="partials/wHeaderPlayer.html"> -->
</head>
<body>

  <!-- window header -->
  <div id="wContainer" class="container-fluid wrap">
    <!-- <div id="wHeaderPlayer" class="containerHeader"></div> -->

    <div class="containerBody xdark">
      <div>
        <span class="windowControl btnClose" onclick="Renderer.ipc.hidePlayer()"></span>
      </div>


      <div id="rsPlayerCurrent">

        <strong><span id="currentArtist"></span></strong>
        <span id="currentTitle"></span>

        <div id="rsPlayerTime">
          <span class="timeElapsed">00:00</span>/<span class="timeTotal">00:00</span>
        </div>
      </div>


      <div id="rsPlayerControls">
        <div class="btn-group">
          <a class="btn btn-default" onclick="Player.prev()"><span class="fa fa-fw fa-step-backward" title="Go to main menu"></span></a>
          <a class="btn btn-default" onclick="Player.play()"><span class="fa fa-fw fa-play" title="Go to main menu"></span></a>
          <a class="btn btn-default" onclick="Player.next()"><span class="fa fa-fw fa-step-forward" title="Go to main menu"></span></a>
        </div>
      </div>

      <div id="rsPlayerAudioContainer"></div>

    </div>
  </div>

  <script>
    require('../renderer/imports');
    var Renderer = require('../renderer');
    var Player = require('../renderer/player');
    Player.next();
  </script>
</body>
</html>
