<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
  <title>RemoteStack Player</title>
</head>
<body>

  <div id="wContainer" class="wrap">
    <partial data-view="window-controls"></partial>

    <div class="containerBody">
      <div class="mainContent" id="wBody">
        <div class="navContent" id="nowplaying">
          <div class="inner">
            <div id="notifications"></div>
            <div id="waveform-loading"></div>

            <partial data-view="player-controls"></partial>

            <ul id="windowTriggers">
              <li onclick="RS.IPCEmitter('show-window', 'add')">
                Add
              </li>

              <li onclick="RS.IPCEmitter('show-window', 'settings')">
                Settings
              </li>

              <li onclick="RS.IPCEmitter('show-window', 'help')">
                Help
              </li>
            </ul>

            <div id="rsPlayerBrowser">
              <ul class="list" id="nowplaying-playlist"></ul>
            </div>

          </div>
        </div>

      </div>
    </div>
  </div>


  <assets style="display: none">
    <link rel="icon" type="image/png" href="icons/player-256.png">
    <link rel="apple-touch-icon" href="icons/player-256.png">
    <link rel="stylesheet" href="css/libs/bootstrap.min.css">
    <link rel="stylesheet" href="css/rs-base.css">
    <link rel="stylesheet" href="css/rs-windowCtl.css">
    <link rel="stylesheet" href="css/rs-player.css">

    <script>window.$ = window.jQuery = require('./js/libs/jquery-2.2.4.min.js');</script>

    <!-- specific to window -->
    <link rel="stylesheet" href="css/libs/font-awesome.min.css">
    <link rel="stylesheet" href="css/libs/animate.css">
    <script src="js/libs/bootstrap.min.js"></script>
    <script src="js/libs/jquery-ui.js"></script>
    <script src="js/libs/jquery.mousewheel.js"></script>

    <script src="js/app.js"></script>
    <script src="js/player.js"></script>
  </assets>

</body>
</html>
