<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Player</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/style.css">
  <link rel="stylesheet" href="assets/css/player.css">

  <script>window.$ = window.jQuery = require('./assets/js/jquery-2.2.4.min.js');</script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>

  <link rel="icon" type="image/png" href="assets/rs.png">
  <link rel="apple-touch-icon" href="assets/rs.png">

  <!-- <link rel="import" class="partial" href="partials/wHeaderPlayer.html"> -->
</head>
<body>

  <!-- window header -->
  <div id="wContainer" class="container-fluid wrap">
    <!-- <div id="wHeaderPlayer" class="containerHeader"></div> -->

    <div class="containerBody">
      <div>
        <span class="windowControl btnClose" onclick="Renderer.ipc.hidePlayer()"></span>
      </div>


      <div id="rsPlayerCurrent">

        <span id="currentArtist">-</span>
        <br />
        <div class="pull-right">
          <span class="timeElapsed">00:00</span>/<span class="timeTotal">00:00</span>
        </div>
        <span id="currentTitle">-</span>
      </div>


      <div id="rsPlayerControls">
        <div class="btn-group">
          <a class="btn btn-default" onclick="Player.prev()"><span class="fa fa-fw fa-step-backward" title="Go to main menu"></span></a>
          <a class="btn btn-default" onclick="Player.play()"><span class="fa fa-fw fa-play" title="Go to main menu"></span></a>
          <a class="btn btn-default" onclick="Player.next()"><span class="fa fa-fw fa-step-forward" title="Go to main menu"></span></a>
        </div>
      </div>

      <div id="rsPlayerAudioContainer"></div>

    </div>
  </div>

  <script>
  function _trailingZero (num, positions) {
    if (!num) {
      num = 0;
    }
    num = num.toString();
    var rtn = num;
    var iterations = positions - num.length;

    if (iterations > 0) {
      for (i = 0; i < iterations; i++) {
        rtn = '0' + rtn;
      }
    }

    return rtn;
  }

  function _formatSecondsAsTime (sec) {
    var s = parseInt(sec);

    var multipliers = {
      d: 60 * 60 * 24,
      h: 60 * 60,
      m: 60
    };

    var remainder = s;

    var days = Math.floor(remainder / multipliers.d);
    if (days) remainder -= (days * multipliers.d);

    var hours = Math.floor(remainder / multipliers.h)
    if (hours) remainder -= (hours * multipliers.h);

    var minutes = Math.floor(remainder / multipliers.m)
    if (minutes) remainder -= (minutes * multipliers.m);

    var seconds = remainder;

    var rtn = '';
    if (days) rtn += _trailingZero(days) + ':';
    if (hours) rtn += _trailingZero(hours, 2) + ':';
    rtn += _trailingZero(minutes, 2) + ':';
    rtn += _trailingZero(seconds, 2) + '';

    return rtn;
  }
  </script>


  <script>
    var Player = {
      // state
      queue: [
        {
          'artist': 'Vot',
          'title': 'Infused (demo 1.41)',
          'url': 'http://siliconfen.co/v/mp3/Infused-1.41.mp3'
        },
        {
          'artist': 'Vot',
          'title': 'Forget me now (6.8.11b)',
          'url': 'http://siliconfen.co/v/mp3/Forget%20me%20now-6.8.11b.mp3'
        },
        {
          'artist': 'Vot',
          'title': 'Death and Despair',
          'url': 'http://siliconfen.co/v/mp3/2016-03-23_death-and-despair-1.mp3'
        }
      ],

      volume: 100,
      loopOne: false,
      loopAll: false,
      playing: false,


      // methods
      getElement: function () {
        return $('#rsPlayerAudioContainer audio')[0];
      },

      play: function (state) {
        var _self = this;
        var audioTag = _self.getElement();
        if (!audioTag) {
          alert('No audio element present')
          return;
        }

        // state = state || audioTag.paused || true;
        console.log('state:', state)

        if (typeof state !== 'boolean') {
          console.log('audioTag.paused:', audioTag.paused)
          state = audioTag.paused || false;
        }

        if (state) {
          console.log('Playing');
          audioTag.play();
          _self.setPlayButton(false);
        } else {
          console.log('Pausing');
          audioTag.pause();
          _self.setPlayButton(true);
        }
      },

      prev: function () {
        var prevTrack = this.queue.pop();
        this.queue.unshift(prevTrack); // add track to the end of queue

        // var audioTag = this.getElement();
        // var playState = audioTag ? !audioTag.paused : false;

        this.load(prevTrack);
        // this.play(playState);
      },

      next: function () {
        var nextTrack = this.queue.shift();
        this.queue.push(nextTrack); // add track to the end of queue

        var audioTag = this.getElement();
        var playState = audioTag ? !audioTag.paused : false;

        this.load(nextTrack);
        this.play(playState);
      },

      setPlayButton: function (state) {
        $('.fa.fa-play, .fa.fa-pause').removeClass('fa-play fa-pause').addClass('fa-' + (state ? 'play' : 'pause'));
      },

      setVolume: function (vol) {
        if (typeof vol !== 'number') {
          return;
        }
        var _self = this;
        var audioTag = _self.getElement();

        _self.volume = vol;
        audioTag.volume = vol / 100;
      },

      updateTrackTime: function (track) {
        var currTimeDiv = $('.timeElapsed');
        var durationDiv = $('.timeTotal');

        var currTime = Math.floor(track.currentTime).toString();
        var duration = Math.floor(track.duration).toString();

        currTimeDiv.text(_formatSecondsAsTime(currTime));
        durationDiv.text(_formatSecondsAsTime(duration));
      },

      load: function (track) {
        var _self = this;
        var audioTag = _self.getElement();
        if (audioTag) {
          audioTag.remove();
        }

        var newEntry = '<audio preload="true" ontimeupdate="Player.updateTrackTime(this)">';
        newEntry += '<source src="' + track.url + '" type="audio/mpeg">';
        newEntry += '</audio>';


        $('#rsPlayerAudioContainer').append(newEntry);
        $('#currentArtist').text(track.artist);
        $('#currentTitle').text(track.title);

        _self.setVolume(_self.volume);
        _self.updateTrackTime(_self.getElement());
      }
    }

    // Player.load('http://siliconfen.co/v/mp3/Infused-1.41.mp3');
    Player.next();
  </script>

  <script>
    require('../renderer/imports');
    var Renderer = require('../renderer');
  </script>
</body>
</html>
