<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Player</title>

  <link rel="stylesheet" href="assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="assets/css/font-awesome.min.css">
  <link rel="stylesheet" href="assets/css/base.css">

  <script>window.$ = window.jQuery = require('./assets/js/jquery-2.2.4.min.js');</script>
  <script src="assets/js/bootstrap.min.js"></script>
  <script src="assets/js/app.js"></script>

  <link rel="icon" type="image/png" href="assets/rs.png">
  <link rel="apple-touch-icon" href="assets/rs.png">
</head>
<body>

  <!-- window header -->
  <div id="wContainer" class="container-fluid wrap">
    <div class="containerBody">
      <div>
        SETTINGS
      </div>

    </div>
  </div>

  <script>
    Player.next();
  </script>

  <script>
    require('../renderer/imports');
    var Renderer = require('../renderer');
  </script>
</body>
</html>
