  <div class="navContent bg solid" id="help">
    <div class="inner padding-10">

      <h2><strong>RemoteStack</strong> Player</h2>
      <small class="subtle">(Alpha build <%- appVersion %>)</small>


      <br /><br />
      <h5>Keyboard shortcuts: Navigation</h5>
      <hr />

      <table class="spaced">
        <tr>
          <th width="150"><code class="key">Ctrl/Cmd + /</code> or <code class="key">F1</code></th>
          <td>Show this screen</td>
        </tr>
        <tr>
          <th><code class="key">Ctrl/Cmd + .</code> or <code class="key">Esc<!--(&gt;)--></code></th>
          <td>Player</td>
        </tr>
        <tr>
          <th><code class="key">Ctrl/Cmd + , <!--(&lt;)--></code></th>
          <td>Preferences</td>
        </tr>
      </table>



      <br /><br /><br />
      <h5>Keyboard shortcuts: Player control</h5>
      <hr />

      <table class="spaced">
        <tr>
          <th width="150"><code class="key">Space</code></th>
          <td>Play/Pause</td>
        </tr>
        <tr>
          <th><code class="key">&darr;</code> and <code class="key">&uarr;</code></th>
          <td>-/+ Volume</td>
        </tr>
        <tr>
          <th><code class="key">&larr;</code> and <code class="key">&rarr;</code></th>
          <td>-/+5 seconds</td>
        </tr>
        <tr>
          <th><code class="key">,<!-- (&lt;) --></code> and <code class="key">.<!-- (&gt;) --></code></th>
          <td>Previous track/Next track</td>
        </tr>
        <tr>
          <th><code class="key">P</code></th>
          <td>Show/hide playlist</td>
        </tr>
      </table>


      <br /><br /><br />
      <h5>Controls</h5>
      <hr />

      <p>Mouse scroll and clicks in waveform area can be used to navigate the current track's progress.
        Mouse scroll handler is also registered on volume control.</p>

      <p>You can start with adding a track to an empty playlist.
        Just drag a file from your hard drive and drop it in the playlist area.</p>

      <p>In addition to that you can also add various online links to play them.
        You can simply add a link to a video on YouTube or a track on Soundcloud
        by pasting the link directly into the player.</p>

      <br /><br /><br />

    </div>
  </div>
