<template>

  <div class="navContent bg solid" id="help">
    <div class="inner padding-10">

      <h2>Help</h2>

      <h5>Controls</h5>

      <p>Mouse scroll and clicks in waveform area can be used to navigate the current track's progress.
        Mouse scroll handler is also registered on volume control.</p>

      <p>You can start with adding a track to an empty playlist.
        Just drag a file from your hard drive and drop it in the playlist area.</p>

      <p>In addition to that you can also add various online links to play them.
        You can simply add a link to a video on YouTube or a track on Soundcloud
        by pasting the link directly into the player.</p>

      <h5>Keyboard shortcuts (global)</h5>

      <table>
        <tr>
          <th width="130"><strong>F1</strong></th>
          <td>Show this screen</td>
        </tr>
        <tr>
          <th><strong>Ctrl/Cmd + , <!--(&lt;)--></strong></th>
          <td>Preferences</td>
        </tr>
        <tr>
          <th><strong>Ctrl/Cmd + . <!--(&gt;)--></strong></th>
          <td>Default stream</td>
        </tr>
        <tr>
          <th><strong>Ctrl/Cmd + Alt + S</strong></th>
          <td>Show sidebar</td>
        </tr>
      </table>



      <br />
      <h5>Keyboard shortcuts (player)</h5>

      <table>
        <tr>
          <th width="130"><strong>Space</strong></th>
          <td>Play/Pause</td>
        </tr>
        <tr>
          <th><strong>&darr;</strong> and <strong>&uarr;</strong></th>
          <td>-/+ Volume</td>
        </tr>
        <tr>
          <th><strong>&larr;</strong> and <strong>&rarr;</strong></th>
          <td>-/+5 seconds</td>
        </tr>
        <tr>
          <th><strong>,<!-- (&lt;) --></strong> and <strong>.<!-- (&gt;) --></strong></th>
          <td>Previous track/Next track</td>
        </tr>
        <tr>
          <th><strong>Ctrl/Cmd + Alt + P</strong></th>
          <td>Show/hide playlist</td>
        </tr>
      </table>

      <br />
      <h5>Storage</h5>
      <!-- <a href="file://$$TMPDIR" class="btn btn-xs btn-default">Open tmp folder</a> -->
      <a href="file://$$CACHE" class="btn btn-xs btn-default">Open cache folder</a>
      <a href="file://$$APPDATA" class="btn btn-xs btn-default">Open appdata folder</a>

      <br />
      <h5>About</h5>
      <p><strong>Remote Stack</strong> (alpha) v0.0.2</p>

    </div>
  </div>

</template>
