<template>

  <div class="navContent solidBg" id="library">
    <div class="inner padding-10">

      <h2>Library</h2>

      <ul class="list">
        <li>
          <a href="/library/delete/57b252f5c8b41540620d8f78"><span class="fa fa-fw fa-remove"></span></a>
          <a class="primary" href="/utilities/mediainfo?url=http://www.mentalfloss.com/article/79130/14-totally-free-things-internet-everyone-should-take-advantage">14 totally free things on internet</a>
          <span></span>
        </li>
        <li>
          <a href="/library/delete/57b253111ef972ce6215feaf"><span class="fa fa-fw fa-remove"></span></a>
          <a class="primary" href="/utilities/mediainfo?url=https://www.npmjs.com/package/fluent-ffmpeg">fluent-ffmpeg</a>
          <span></span>
        </li>
      </ul>

    </div>
  </div>

</template>
