
  <!-- Modal -->
  <div class="modal fade" id="modalAddUrl" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
      <div class="modal-content">

        <div class="modal-header">
          <!-- <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button> -->
          <h4 class="modal-title" id="myModalLabel">Add URLs</h4>
        </div>

        <div class="modal-body">
          <!-- <input type="text" value="" placeholder="URL" id="urlinput" /> -->
          <textarea placeholder="URLs" id="urlinput"></textarea>

          <p class="small text-center subtle">Most online services are supported.</p>
          <p class="small text-center subtle">Tip: you can add with <code>Ctrl/Cmd</code> + <code>Enter</code>.</p>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-xs btn-default" data-dismiss="modal">Cancel</button>
          <button type="button" class="btn btn-xs btn-primary" data-toggle="addurl" data-addurl-input="urlinput">Add</button>
        </div>
      </div>
    </div>
  </div>
