<link rel="stylesheet" href="../assets/css/nowplaying.css">
<script>
  var Renderer = require('../renderer');
  var Player = require('../renderer/player');
</script>

<!-- <script src="assets/js/wavesurfer/wavesurfer.min.js"></script> -->
<script>window.WaveSurfer = require('./assets/js/wavesurfer/wavesurfer.min.js');</script>

<template>

  <div class="navContent solidBg xdark" id="nowplaying">
    <div class="inner padding-10">

      <div class="rsPlayerControlsGroup">
        <div id="rsPlayerCurrent">

          <span id="currentArtist"></span>

          <div class="pull-right">
            <span class="timeElapsed">00:00</span>/<span class="timeTotal">00:00</span>
          </div>
          <span id="currentTitle"></span>
        </div>


        <div id="rsPlayerControls">
          <div style="width: 20%; float: left;">&nbsp;</div>

          <input type="range" min="0" max="100" value="100" oninput="Player.setVolume(this)" id="rsPlayerVolume"
          style="width: 20%; float: right; margin-top:5px" title="Volume">


          <a onclick="Player.prev()"><span class="fa fa-fw fa-2x fa-step-backward" title="Previous"></span></a>
          <a id="WSPlay"><span class="fa fa-fw fa-2x fa-play" title="Play"></span></a>
          <a onclick="Player.next()"><span class="fa fa-fw fa-2x fa-step-forward" title="Next"></span></a>
        </div>
      </div>

      <div id="waveform"></div>

    </div>
  </div>


</template>

<script>
$(document).ready(function () {
  Player.ensureWavesurfer();
  Player.next();

});
</script>
