  <div class="navContent bg solid" id="nowplaying">
    <div class="inner">
      <div id="notifications"></div>
      <div id="waveform-loading">LOADING TRACK</div>

      <%= RS.renderPartial('player-controls') %>

      <div id="rsPlayerBrowser">
        <ul class="tabs">
          <li class="active" data-tab-destination="playlist">Playlist</li>
          <li data-tab-destination="add-url">
            Add URL
            <!-- <i class="fa fa-fw fa-plus-circle"></i> -->
          </li>
          <!-- <li data-tab-destination="trackinfo">Track info</li> -->

          <li class="pull-right" data-tab-destination="help">
            <!-- Help -->
            <i class="fa fa-fw fa-info"></i>
          </li>
          <li class="pull-right" data-tab-destination="preferences">
            <!-- Preferences -->
            <i class="fa fa-fw fa-cogs"></i>
          </li>
        </ul>


        <div class="tabContent" rel="playlist">
          <ul class="list" id="nowplaying-playlist"></ul>
        </div>

        <div class="tabContent" rel="trackinfo">
          <div class="padding-10">
            <div id="nowplaying-trackinfo"></div>
          </div>
        </div>

        <div class="tabContent" rel="add-url">
          <%= RS.renderPartial('add-url') %>
        </div>

        <div class="tabContent" rel="preferences">
          <div class="padding-10">
            <%= RS.renderPartial('preferences') %>
          </div>
        </div>

        <div class="tabContent" rel="help">
          <div class="padding-10">
            <%= RS.renderPartial('help') %>
          </div>
        </div>

      </div>

    </div>
  </div>
