<!-- <link rel="stylesheet" href="../assets/css/playlist.css"> -->

<script>
  var _ = require('lodash');
  var Renderer = require('../renderer');
  var Player = require('../renderer/player');
  var Playlist = require('../lib/playlist');

  $(document).ready(function () {
    var queue = Player.queue;
    console.log(queue);

    _.each(queue, function (item) {
      var markup = '<li>';
      markup += '<span>' + Playlist.getDisplayTitle(item) + '</span>';
      markup += '<span class="entry-url">' + item.url + '</span>';
      markup += '</li>';
      $('#playQueue').append(markup);
    });
  });
</script>


<template>

  <div class="navContent bg solid" id="playlist">
    <div class="inner padding-10">

      <h2>Playlist</h2>

      <ul id="playQueue" class="list">
      </ul>

    </div>
  </div>

</template>
