<template>

  <div class="navContent bg solid" id="preferences">
    <div class="inner padding-10">

      <h2>Preferences</h2>

      <label>
        <input type="checkbox" value="settings.DarkTheme" onclick="handleCheckbox(this)" />
        Dark theme (requires restart)
      </label>
    </div>
  </div>

</template>


<script>
var PreferencesModel = require('../models/preferences');
function handleCheckbox(input) {
  var key = $(input).val();
  var isChecked = $(input).is(':checked');
  PreferencesModel.set(key, isChecked);
}

$(document).ready(function () {
  $('input[type="checkbox"]').each(function () {
    var key = $(this).val();
    var isChecked = PreferencesModel.get(key) || false;
    $(this).prop('checked', isChecked);
  });
});


</script>
