<template>
  <script src="js/preferences.js"></script>

  <div class="navContent bg solid" id="preferences">
    <div class="inner padding-10">

      <h2>Preferences</h2>

      <br />

      <label class="settings-item">
        <span class="pull-right">
          <select name="ui.theme" onchange="handleInputChange(this)">
            <option value="light">Light</option>
            <option value="dark">Dark</option>
          </select>
        </span>
        <strong>Theme</strong>
      </label>

      <label class="settings-item">
        <span class="pull-right">
          <input type="checkbox" value="ui.showFullPath" onchange="handleCheckboxChange(this)" />
        </span>
        <strong>Show full path in playlist</strong>
      </label>

      <label class="settings-item">
        <span class="pull-right">
          <!-- <a href="file://$$TMPDIR" class="btn btn-xs btn-default">Open tmp folder</a> -->
          <a href="file://$$USERDATA" class="btn btn-xs btn-default">Open app data folder</a>
        </span>
        <strong>Data storage</strong>
      </label>

      <br /><br />
      <hr />

      <p><strong>Currently all changes require a restart to take effect.</strong><br /> This will be fixed in future versions.</p>

      <br />

    </div>
  </div>


  <style>
  label.settings-item {display:block; width: 100%; padding: 10px 0 10px}
  </style>

</template>
