<template>

  <div class="navContent bg solid" id="preferences">
    <div class="inner padding-10">

      <h2>Preferences</h2>

      <label>
        <input type="checkbox" value="settings.DarkTheme" onclick="handleCheckbox(this)" />
        Dark theme (requires restart)
      </label>

      <br />

      <label>
        Data storage
        <!-- <a href="file://$$TMPDIR" class="btn btn-xs btn-default">Open tmp folder</a> -->
        <!-- <a href="file://$$CACHE" class="btn btn-xs btn-default">Open cache folder</a> -->
        <a href="file://$$APPDATA" class="btn btn-xs btn-default">Open appdata folder</a>
      </label>

      <br /><br /><br />

    </div>
  </div>



</template>


<script>
const remote = require('electron').remote;
// const userDataDir = remote.getGlobal('userDataDir');
// console.log('data in : ' + userDataDir)

var PreferencesModel = remote.require('./models/preferences');
function handleCheckbox(input) {
  var key = $(input).val();
  var isChecked = $(input).is(':checked');
  PreferencesModel.set(key, isChecked);
}

$(document).ready(function () {
  $('input[type="checkbox"]').each(function () {
    var key = $(this).val();
    var isChecked = PreferencesModel.get(key) || false;
    $(this).prop('checked', isChecked);
  });
});


</script>
