  <div class="navContent" id="status">
    <div class="inner padding-10 text-center">

      <h1>RemoteStack</h1>
      <br /><br />
      <h2>Streams</h2>


    </div>

    <table class="table table-striped">
      <tr>
        <td class="text-left">
          <a href="#" data-toggle-goto="nowplaying">Default stream</a>
          <!-- <br />
          <small>Currently playing: - (00:00/00:00)</small> -->
        </td>
        <td class="text-right">
          Volume: 75%
        </td>
        <td class="text-right">
          <a class="playercontrol" onclick="Player.prev()"><span class="fa fa-fw fa-step-backward" title="Previous"></span></a>
          <a class="playercontrol" onclick="Player.play()"><span class="fa fa-fw fa-play" title="Play"></span></a>
          <a class="playercontrol" onclick="Player.next()"><span class="fa fa-fw fa-step-forward" title="Next"></span></a>
        </td>
      </tr>
    </table>
  </div>
