<template>

  <div class="navContent" id="streams">
    <div class="inner padding-10 text-center">

      <h1>RemoteStack</h1>
      <br /><br />
      <h2>Select stream</h2>

      <nav class="homeMenu">
        <a href="#" onclick="Nav.goto('nowplaying')">Default stream</a>
      </nav>
      <!-- <nav class="homeMenu">
        <a href="#" onclick="Nav.goto('nowplaying')">Now playing</a>
        <!- - <a href="#" onclick="Nav.goto('playlist')">Playlist</a> - ->
        <a href="#" onclick="Nav.goto('library')">Library</a>
        <br />
        <a href="#" onclick="Nav.goto('openurl')">Open...</a>
        <a href="#" onclick="">Control device</a>
        <a href="#" onclick="Nav.goto('preferences')"><span class="fa fa-fw fa-cogs"></span> Preferences</a>
      </nav> -->

    </div>
  </div>

</template>

<script>
var Nav = require('../renderer/nav');
</script>
