#playerBody {height: 100%; overflow-y: hidden}

#playerBody {padding: 0; position: fixed; top:0; bottom: 0; width: 100%; overflow: hidden; -webkit-user-select: none}
#playerBody {background: transparent}
#playerContainer {padding: 0; margin: 0}

#rsPlayerControls {margin-top: 10px; text-align: center}
#rsPlayerControls .btn-default {background: none; border: none; padding: 2px; margin: 0 4px;}
#rsPlayerControls .btn-default .fa.fa-fw {font-size: 18px}

#rsPlayerCurrent {margin-top:0px; height: 18px; overflow: hidden;}
#rsPlayerCurrent #currentArtist {font-weight: 200; opacity: 0.6}
#rsPlayerCurrent #currentTitle {font-weight: 200}
#rsPlayerCurrent #timeContainer {font-weight: 200; font-size: 0.95em}

#playerBody #rsPlayerControls .btn-default {color: #5a5a5a}
.rsPlayerControlsGroup {padding: 0 10px; height: 95px}

#playlistContainer {position:fixed; top: 120px; width: 100%}
#playlistContainer h2 {margin-top: 0}
.list .url {display: block;font-size: 0.85em; opacity: 0.7; height: 12px; overflow: hidden}

#windowTriggers {height: 30px; display: block; margin: 0; padding: 0}
#windowTriggers li {display: inline-block; font-size: 12px; line-height: 12px; padding: 9px 8px;}
#windowTriggers li {text-transform: uppercase; font-weight: 200; letter-spacing: 1px}
#windowTriggers li.active {border-bottom: 1px solid #ffa100; padding-bottom: 7px;}

#playlistContainer {position: fixed; top: 150px; bottom: 0; width:100%; overflow: hidden; overflow-y: auto;}
#playerBody ul.list li.active .title {color: #cc7f2a}

#notifications {position: absolute; z-index: 11; top: 40px; width: 90%; margin: 0 5%; padding: 15px 10px; max-height: 70px; text-align: center; overflow: hidden; display: none;
  background: #fff; font-weight: 300; font-size: 12px; line-height: 14px; color: #777; border: 1px solid #f90; box-shadow: 0 0 70px #888}

#waveform-loading {position: absolute;z-index: 10;top: 60px; width: 90%;margin: 0 5%;padding: 0;text-align: center;overflow: hidden;display: none;font-weight: 500;font-size: 10px;line-height: 14px;color: #999;}

/* Background */
#rsPlayerControls {margin-top: 5px; text-align: center;-webkit-app-region: no-drag;}
#rsPlayerControls .btn-default {background: none; border: none; padding: 2px; margin: 0 4px; }
#rsPlayerControls .btn-default .fa.fa-fw {font-size: 16px}

#rsPlayerCurrent {margin-top:0; font-size: 0.95em}
#rsPlayerTime {float: right; font-size: 0.9em}


.playerCtl .fa-fw {font-size: 14px}
.playerCtl.big .fa-fw {font-size: 20px}



#waveform {margin: 5px -10px; height: 40px; overflow: hidden}
#waveform wave {overflow: hidden !important}
/*#waveform {bottom: -20px; position: fixed; width: 100%; margin: 0 -10px;}*/

/*#waveform, #waveform * {-webkit-transition: all 100ms ease}*/
#waveform, #waveform * {
  transition-property: margin-top, height;
  transition-duration: 100ms, 50ms;
  transition-delay: 20ms, 10ms;
}

@media screen and (max-height: 115px) {
  #rsPlayerControls {display: none}
}

@media screen and (max-height: 100px) {
  #waveform {height: 30px;}
  #waveform > * {margin-top: -5px;}
}

@media screen and (max-height: 70px) {
  #waveform {height: 20px;}
  #waveform > * {margin-top: -10px;}
}

/*@media screen and (max-height: 70px) {
  #waveform {height: 10px;}
  #waveform > * {margin-top: -15px;}
}*/

@media screen and (max-height: 55px) {
  #waveform {height: 4px; margin-top: 2px}
  #waveform > * {margin-top: -18px;}
  /*#waveform {display: none}*/
}


#playerBody {padding-top: 25px;}

@media screen and (max-height: 100px) {
  #windowCtl {top: -30px}
  #playerBody {padding-top: 10px}
  .timeTotal, .timeSeparator {display: none}
}

#windowCtl {-webkit-transition: position 100ms linear}
.ctl .fa, .playerCtl .fa {-webkit-transition: color 100ms linear}

#windowTriggers li {-webkit-transition: color 100ms linear}

#playerBody {display: block}

.list .placeholder {height: 28px; background: #555 !important; border: 1px solid #999; padding:0; display: block;}

@media screen and (max-height: 130px) {
  #playlistContainer {visibility: hidden}
}

body .list .url {display:none}
body.showFullPath .list .url {display:block}
