
/*
 * LIGHT THEME
 */


body.light .navContent {background: linear-gradient(to bottom, #fafafa 0px, #dadada 120px); color: black}
body.light .navContent.cloudy {background: linear-gradient(to bottom, rgba(239, 239, 239, 0.7) 0%, rgba(239, 239, 239, 0.23) 100%); color: black}
body.light h1, body.light h2, body.light h3 {color: #3E3D3D; /*text-shadow: 0px 1px 1px #cecece;*/}
body.light hr {border-top-color: #bbb}

/*body.light .navContent h2 {background: linear-gradient(to bottom, #EFEFEF 0%, #D5D5D5 100%)}*/
/*body.light .containerFooter a {color: #4c4c4c}*/
/*body.light .containerFooter a span.fa-active{color: #d22}*/

body.light .navContent ul.list li {background: #f3f0f0; color: black}
body.light .navContent ul.list li:nth-child(2n) {background: #e8e7e7}
body.light .subtle {color: #5a5a5a}
body.light .well.subtle {background: rgba(255,255,255,0.4)}
body.light code.key {color: #5a5a5a}



/*
 * DARK THEME
 */

body.dark .navContent {background: linear-gradient(to bottom, #404040 0px, #101010 120px); color: #EFEFEF}
body.dark .navContent.cloudy {background: linear-gradient(to bottom, rgba(0, 0, 0, 0.8) 0%, rgba(0, 0, 0, 0.55) 100%); color: #EFEFEF}
/*body.dark .navContent h2 {background: linear-gradient(to bottom, #444 0%, #111 100%); color: #EFEFEF; text-shadow: none}*/
body.dark .navContent ul.list li {background: #171717; color: #eee}
body.dark .navContent ul.list li:nth-child(2n) {background: #101010}
body.dark a {color: #cedef3}
body.dark hr {body.light hr {border-top-color: #bbb}}


/*body.dark .containerFooter {background: #1f1f1f; border-top-color: #333;}*/
/*body.dark .containerFooter a {color: #4c4c4c}*/
/*body.dark .containerFooter a span.fa-active{color: #d22}*/
body.dark .btn-default {background-color: #222; color: #efefef;}
body.dark .subtle {color: #797979}
body.dark .well.subtle {background: rgba(0,0,0,0.15)}
body.dark code.key {color: #4c4c4c}















body.dark .navContent #rsPlayerControls .btn-default, #rsPlayerControls .btn-default {color: #fff}
body.dark .navContent .rsPlayerControlsGroup {color: #fff}
body.light .navContent .rsPlayerControlsGroup {color: #5a5a5a}

/*body.light .navContent #windowTriggers {background: linear-gradient(to bottom, #D5D5D5 0%, #EBEBEB 100%)}*/
body.light .navContent #windowTriggers {background: rgba(195, 195, 195, 0.35); box-shadow: inset 0 1px 1px #BBB; border-bottom: 1px solid #c3c3c3;}
body.light .navContent #windowTriggers li {color: #AAA}
body.light .navContent #windowTriggers li.active {border-bottom: 1px solid #ffa100; color: #404040}

/*body.dark .navContent #windowTriggers {background: linear-gradient(to bottom, #111 0%, #1f1f1f 100%)}*/
body.dark .navContent #windowTriggers {background: rgb(16, 16, 16); box-shadow: inset 0 1px 1px #101010; border-bottom: 1px solid #171717}
body.dark .navContent #windowTriggers li {color: #999}
body.dark .navContent #windowTriggers li.active {color: #eee}

body .playerCtl {color: #AAA; /*text-shadow: 0 1px 0 white;*/}
body.dark .playerCtl {color: #555}

body .navContent, body .playerCtl.active {color: #525252}
body.dark .navContent, body.dark .playerCtl.active {color: white}


body.light .modal-content {background: #efefef;}
body.dark .modal-content {background: #222; color: #ccc;}
body .list .url {display:none}
body.showFullPath .list .url {display:block}
