/* Window controls */

.windowCtls {
  position: fixed; top: 8px; left: 8px;
}

.navigationCtls {
  position: fixed; top: 8px; right: 8px;
}
.navigationCtls .fa {
  color: white
}

.navContent {padding-top: 25px;}
.navContent.nowplaying {padding-top: 20px;}

.playbackCtls {margin: 10px 10px 0 0; float: right}

.windowCtls .fa, .navigationCtls .fa, .playbackCtls .fa {color: #999; margin-right: -2px; z-index: 99; -webkit-app-region: no-drag}

.windowCtls .fa:active, .windowCtls .fa:hover,
.navigationCtls .fa:active, .navigationCtls .fa:hover,
.playbackCtls .fa:active, .playbackCtls .fa:hover {color: #565656}

.windowCtls a.active .fa, .navigationCtls a.active .fa, .playbackCtls a.active .fa {text-shadow: 0 0 2px #333; color:#f3f3f3}

.windowCtls .fa-minus {top: 2px; position: relative;}

/* Mac style */
.windowCtl {display: inline-block; width: 12px; height:12px; margin-right: 5px; border-radius: 10px; border: 1px solid #ccc; -webkit-app-region: no-drag}
.windowCtl.btnClose {background: #ff3b47; border-color: #f0121d}
.windowCtl.btnMinimize {background: #ffbf00; border-color: #e69e12}
.windowCtl.btnMaximize {background: #00d742; border-color: #12b728}
.windowCtl.btnClose:active {background: #c5343c; border-color: #9a242c}
.windowCtl.btnMinimize:active {background: #c39109; border-color: #a68028}
.windowCtl.btnMaximize:active {background: #129b36; border-color: #2e7c42}

/*.windowCtl.btnSpecial {background: #007ed7; border-color: #0c4aa9; xdisplay: none}
.windowCtl.btnSpecial:active {background: #066bb3}*/

/*.titlebar {margin-bottom: 1px}
.toolbar .fa.fa-fw {margin: 0 -7px}
.titlebar .btn, .toolbar .btn {padding: 1px 14px; -webkit-app-region: no-drag}*/

/*.containerBody {top:55px; bottom: 0}*/




@media screen and (max-height: 100px) {
  .windowCtls, .navigationCtls {top: -30px}
  .navContent {padding-top: 10px}
  .timeTotal, .timeSeparator {display: none}
}

#wHeader {
  width: 100%; height: 30px; top: 0; left: 0; position: fixed; z-index: 9;  -webkit-app-region: drag; -webkit-user-select: none; cursor: default
}



.playerCtl .fa-fw, #rsPlayerBrowser .tabs li {-webkit-transition: color 100ms linear}
